<div class="container-fluid">
    <div class="row nav-bg">
        <div class="col-auto bg-ico bg-4 p-0 m-0" style="display: flex;">
            <img class="" style="width: 25px; margin: auto;"
                src="/img/hamburguesa.svg" alt="">
        </div>
        <div class="col-auto bg-ico bg-ico-home p-0 m-0" style="display: flex;">
            <img class="" style="width: 25px; margin: auto;"
                src="/img/home.svg" alt="">
        </div>
        <div class="col p-0 m-0">
        </div>
        <div class="col-auto pr-3 m-0" style="display: flex;">
            <img class="img-user" 
                src="https://cdn.britannica.com/65/227665-050-D74A477E/American-actor-Leonardo-DiCaprio-2016.jpg" alt="">
        </div>
    </div>
</div>
