
<div class="container-md mt-5">
    <div class="tabs">
        <div class="tab" [ngClass]="{'active' : showDatos}">
            <a class="" style="cursor: pointer;" (click)="changeTab()">
                <img class="img-fluid" src="/img/datos-generales.svg"alt=""> DATOS
            </a>
        </div>

        <div class="tab" [ngClass]="{'active' : showPlan}">
            <a class="" style="cursor: pointer;" (click)="changeTab()">
                <img class="img-fluid" src="/img/plandetrabajo.svg"alt=""> PLAN
            </a>
        </div>
    </div>
    
    <div id="datos" *ngIf="showDatos">
        <div class="row">
            <div class="col-12 col-md-6">
                <form action="">
                    <div class="row">
                        <div class="col-12">
                            <label for="" class="form-label">ID Sistema ORC's</label>
                            <input type="text" class="form-control" disabled>
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Nombre del proyecto</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Descripción del proyecto</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="" class="form-label">Objetivos a los que contribuye el proyecto</label>
                            <select name="" id="" class="form-select">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">Fecha Inicio <img style="height: 14px;" src="/img/informacion.svg" alt=""></label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">Fecha Fin <img style="height: 14px;" src="/img/informacion.svg" alt=""></label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <button class="btn-buscar mt-3">Prioridad de proyecto</button>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <div class="row bg-azul">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <label for="" class="form-label">ID Proyecto</label>
                                <input type="text" class="form-control" placeholder="Escribe el número de ID Proyectos Sipres">
                            </div>
                            <div class="col-6 d-flex align-items-end">
                                <button class="btn-buscar">Buscar Proyecto</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="" class="form-label">Nombre del proyecto</label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-12">
                        <label for="" class="form-label">Descripción del proyecto</label>
                        <input type="text" class="form-control" disabled>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <label for="" class="form-label">Fecha de creación</label>
                                <input type="date" class="form-control" placeholder="dd/mm/yyyy" disabled>                                
                            </div>
                            <div class="col-3">
                                <label for="" class="form-label">Capex</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                            <div class="col-3">
                                <label for="" class="form-label">Opex</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="" class="form-label">Pilar del proyecto</label>
                        <p class="bar-bottom"></p>
                    </div>
                    <div class="col-6">
                        <label for="" class="form-label">Clasificación Comité de Inversión</label>
                        <p class="bar-bottom"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="" class="form-label">Responsable del proyecto</label>
                <input type="text" class="form-control" placeholder="Agregar Responsable del proyecto ...">
            </div>
            <div class="col-4">
                <label for="" class="form-label">Administrador</label>
                <select name="" id="" class="form-select">
                    <option value="">Agregar administrador</option>
                </select>
            </div>
            <div class="col-4">
                <label for="" class="form-label">Responsable del proyecto</label>
                <input type="text" class="form-control" placeholder="Agregar Responsable del proyecto ...">
            </div>
        </div>

        
        <app-etapa></app-etapa>

    </div>

</div>
